---
import Container from "@components/elements/Container.astro";
import { Icon } from "astro-icon/components";
---

<Container class:list={"!p-0 !m-0 !max-w-screen sticky top-0 bg-white z-40 mt-6 shadow-md"}>
  <nav x-data="{ open: false }" class="p-4">
    <div class="container mx-auto flex justify-between items-center">


      <a href="/" class="text-2xl flex">
        <Icon class="w-7 h-7 hover:text-primary-light pt-0.5" name="logo_min" />
        <span class="px-1 font-bold text-slate-900 hover:text-primary-light">Your</span><span class="text-slate-600">Digital</span>
      </a>

      <!-- Desktop Menu -->
      <ul class=" md:flex space-x-6">
        <li><a href="/" class="hover:text-primary-light">Home</a></li>
        <li><a href="/daisy" class="hover:text-primary-light">Daisy UI</a></li>
        <li><a href="/vue" class="hover:text-primary-light">Vue</a></li>
        <li><a href="/404" class="hover:text-primary-light">404</a></li>
      </ul>
    </div>


</Container>
